.wrapper {
    width: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    box-sizing: border-box;
}

.header_content {
    text-align: center;
    margin-bottom: 60px;
}

.h1 {
    font-family: "DM Sans", sans-serif;
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.line {
    width: 60px;
    height: 4px;
    background: #88DC29;
    margin: 15px auto;
    border-radius: 2px;
}

.p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

/* Сетка преимуществ */
.blocks_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 1200px;
}

/* Эффект для каждой карточки */
.block_item {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    padding: 10px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Адаптив для мобильных */
@media (max-width: 768px) {
    .wrapper {
        padding: 60px 15px;
    }
    
    .header_content {
        margin-bottom: 40px;
    }

    .blocks_grid {
        grid-template-columns: 1fr; /* На телефоне в одну колонку */
        gap: 16px;
    }
}