@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 24px;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: black;

}

.manager {
    color: #000000;
    background-color: #88DC29;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: medium;
    text-decoration: none;
    font-weight: 16px;
    font-family: "DM Sans", sans-serif;
}

.nav {
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.link {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Адаптив для планшетов */
@media (max-width: 1024px) {
    .header {
        padding: 0 20px;
    } 
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
    .header {
        justify-content: space-around;
        gap: 100px;
        padding: 0 20px;
    } 

    .burger {
        display: flex;
        order: 2;
    }

    .logo {
        font-size: 20px;
        order: 1;
    }

    .manager {
        display: none;
    } 

    .nav {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: rgba(0, 0, 0, 0.98);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        gap: 32px;
        transition: left 0.3s ease;
    }

    .nav_open {
        left: 0;
    }

    .link {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 18px;
    }
}